@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

.class-name {
  margin: 0;
  font-family: "Mulish", "sans-serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spotifyloginbtn {
  background: "#1DB954";
  border-radius: "10px";
  display: "flex";
  flex-direction: "row";
  justify-content: "center";
}

.spotifyloginbtn:hover {
  background: "ffffff";
}
